

html {
  font-family: Helvetica;
}

.navbar {
    position: absolute;
/*    overflow: hidden;*/
    background-color: #ffffff;
    width: 100%;
/*    top: 2.5%;*/
    box-shadow: 0px 0px 10px 1px #000000;
    text-align: center;
    
}

.navbar a {
    color: #555;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding: 4px 2vw;
    float: left;
/*    display: inline-block;*/
}

.navbar ul {
    display: inline-block;
    list-style: none; 
}

* html .navbar ul { /* Target IE6 */
    display: inline;
}
*+html .navbar ul { /* Target IE7 */
    display: inline;
}

.navbar li {
    display: inline;
}

.navbar a:hover {
    color: #000000;
    border: 4px solid #000000;
    padding: 0px 2vw;
    border-radius: 10px;
    transition: all 0.25s;
}

.navbar a:not(:hover) {
    transition: linear 0.25s;
}

/*.navbar clic*/



.title_img {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 0px 1000px 50vh #000000;
}

.title_text {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000000, 0 0 15px #ffffff, 0 0 15px #696969;

    
    font-size: 3.8vw;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background {
    background-image: url("https://github.com/lifestuffys/lifestuffys.github.io/blob/main/images/glitch_pattern_white.png?raw=true");
    background-size: 20%;
    background-repeat: repeat;
}

.webtoon {
    padding: 0px 10vw 96px;  
}

.starter_blank {
    height: 175vh;
    width: 100%;
    display: flex;
    box-shadow: 0px 0px 15px 3px #212121;
}

.c {  /* combines panels */
    display: flex;
    box-shadow: 0px 0px 15px 3px #212121;
}

body {
    font-family: comic sans ms;
    margin: 0px;
/*    font-family: Caveat;*/
}

@font-face {
    font-family: "Caveat";
    src: url("Caveat-VariableFont_wght.ttf") format('truetype');
}

.button {
    background-color: #ffffff;
    border: 0.75vw solid #000000;
    border-radius: 15px;
    color: #000000;

    font-family: Caveat;
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    text-decoration: none;
    color: black;

    cursor: pointer;
    
    position: absolute;
    padding: 1vh 1.5vh;
}

.button span {
    cursor: pointer;
/*    display: inline-block;*/
    position: relative;
/*    transition: 0.5s;*/
}

.button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}

.button:hover span {
    padding-right: 20px;
    transition: all 0.5s;

}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:hover {
    background-color: #000000;
    color: #ffffff;
    transition: all 0.5s;
}

.button:not(:hover), .button:not(:hover) span {
    transition: all 0.5s;
}

.gallery {
/*    right: 20%;*/
    left: 47%;
    width: 40vw;
}

.meet {
    width: 45vw;
    right: 20%;
}

