:root {
    --life-white: #ffffff;
    --life-lightgray: #bfbfbf;
    --life-darkgray: #707070;
    --life-black: #000000;
    --bubblemanpink: #f8c1d9;
    --bubblemanblue: #abe1fa;
}

html {
    font-family: Helvetica;
}



/*   -------------------   */
/*   |    TYPOGRAPHY   |   */
/*   -------------------   */


/*Text*/
p {
    font-size: 15px;
    color: var(--life-black);
}


/*Sub-Headings*/
.subheading {
    font-size: 25px;
    color: var(--life-black);
    text-decoration: none;
}

/*Headings*/
.heading
{
    font-size: 35px;
    color: var(--life-black);
    font-weight: bold;
}

/*Banner Titles*/
h1 {
    font-size: 10vw;
    color: var(--life-white);
    text-shadow: 3px 3px 3px var(--life-black);
}





/*   -------------------   */
/*   |     NAV BAR     |   */
/*   -------------------   */

.navbar {
    position: absolute;
    background-color: var(--life-white);
    width: 100%;
    height: 150px;
    top: 0px;
    box-shadow: 0px 0px 5px 2.5px var(--life-darkgray);
    text-align: center;
}

.logo {
    position: absolute;
    display: block;
    left: 38%;
    padding: 25px 0px 25px;
    width: 25%;
}

.social { float: right; padding: 50px; }

.social a { opacity: 50%; }

.social a:hover { opacity: 100%; transition: all 0.25s; }

.social a:not(:hover) { transition: linear 0.25s; }

.text {
    position: absolute;
    width: 100%;
    padding: 80px 0px 40px;
    text-align: center;
}

.text a {
    color: var(--life-darkgray);
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    padding: 0px 15px;
}

.text a:hover { color: var(--life-black); transition: all 0.25s; }

.text a:not(:hover) { transition: linear 0.25s; }







/*.navbar clic*/


/*   -------------------   */
/*   |    HOME PAGE    |   */
/*   -------------------   */


.homelogo {
    object-fit: contain;
    padding: 100px 0px 0px;
    height: calc(100vh - 75px);
    width: 100%;
    background-image: linear-gradient(to bottom left, var(--bubblemanblue), var(--bubblemanblue), var(--bubblemanpink), var(--bubblemanpink));
    box-shadow: 0px 0px 1000px 45vh var(--life-black);    
}



/*   -------------------   */
/*   |   HOME PANELS   |   */
/*   -------------------   */

.background {
    background-image: url("https://github.com/lifestuffys/lifestuffys.github.io/blob/main/images/glitch_pattern_white.png?raw=true");
    background-size: 20%;
    background-repeat: repeat;
}

.webtoon {
    padding: 0px 17.5vw 96px;  
}

.starter_blank {
    height: 90vh;
    width: 100%;
    display: flex;
    box-shadow: 0px 0px 15px 3px #212121;
}

.c {  /* combines panels */
    display: inherit;
    box-shadow: 0px 0px 15px 3px #212121;
}

body {
    margin: 0px;
}




/*   -------------------   */
/*   |     BUTTONS     |   */
/*   -------------------   */

.button {
    background-color: var(--life-white);
    border: 0.75vw solid var(--life-black);
    border-radius: 15px;
    color: var(--life-black);

    font-family: Caveat;
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    text-decoration: none;
    color: black;

    cursor: pointer;
    
    position: absolute;
    padding: 1vh 1.5vh;
}

.button span {
    cursor: pointer;
/*    display: inline-block;*/
    position: relative;
/*    transition: 0.5s;*/
}

.button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}

.button:hover span {
    padding-right: 20px;
    transition: all 0.5s;

}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:hover {
    background-color: var(--life-black);
    color: var(--life-white);
    transition: all 0.5s;
}

.button:not(:hover), .button:not(:hover) span {
    transition: all 0.5s;
}

.gallery {
    left: 47%;
    width: 40vw;
}

.meet {
    width: 45vw;
    right: 20%;
}





/*   -------------------   */
/*   |     BANNERS     |   */
/*   -------------------   */

.banner {
    width: 100vw;
    box-shadow: inset 0px -4px 5px var(--life-darkgray);
}

.banner_image {
    width: 100vw;
    position: relative;
    z-index: -2;
}

.about_banner_text {
    padding-left: 10vw;
    padding-top: 150px;
    position: absolute;
}

.right_text {
    padding-left: 55vw;
    text-align: left;
    padding-top: 225px;
    position: absolute;
}



/*   -------------------   */
/*   |     ABOUT US    |   */
/*   -------------------   */

.about_padding {
    padding: 20px 200px;
    background-color: var(--life-white);
}

.profile_img {
    height: 40%;
    width: 40%;
    object-fit: cover;
    border-radius: 10px;
}

.profile {
    padding: 20px 200px 100px;
    background-color: var(--life-white);
    vertical-align: middle;

}

.about_text {
    width: 50%;
    height: 40%;
    padding: 0px 50px;
}














/*   -------------------   */
/*   |   GALLERY IMGS  |   */
/*   -------------------   */


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px;
}

.grid-item {
/*    background-color: rgba(255, 255, 255, 0.8);*/
/*    border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 0px;
    text-align: center;
}


.gallery_padding {
    padding: 0px 12vw 96px;
}

.square_img {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    align-items: center;

}

.square_img:hover {
    transform: scale(0.9);
    opacity: 0.9;
    transition: all 0.2s;
}

.square_img:not(:hover) {
    transition: all 0.2s;
}




/*   -------------------   */
/*   |      BOTTOM     |   */
/*   -------------------   */


.bottom {
    padding: 50px;
    
/*    Add contact and social*/
    
}








/*   -------------------   */
/*   |   TINY VERSION  |   */
/*   -------------------   */

@media screen and (max-width: 850px) {
    
    .webtoon {
        padding: 0px 0px 96px;  
    }
    
    .gallery_padding {
        padding: 0px 0px 96px;
    }
    
    .square_img {
        width: 32.6vw;
        height: 32.6vw;
        object-fit: cover;
    }
}






