:root {
    --life-white: #ffffff;
    --life-gray: #bfbfbf;
    --life-black: #000000;
    --bubblemanpink: #f8c1d9;
    --bubblemanblue: #abe1fa;
    
/*    var(--test)*/
}



html {
    font-family: Helvetica;
}


/*   -------------------   */
/*   |  HOME NAV BAR   |   */
/*   -------------------   */

.home_navbar {
    position: absolute;
    background-color: var(--life-white);
    width: 100%;
    height: 100px;
    top: 0px;
    box-shadow: 0px 0px 10px 1px var(--life-black);
    text-align: center;
}

.home_navbar a {
    color: #555;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding: 15px 3vw 15px;
    float: left;
}

.home_navbar ul {
    display: inline-block;
    list-style: none; 
}

* html .home_navbar ul { /* Target IE6 */
    display: inline;
}
*+html .home_navbar ul { /* Target IE7 */
    display: inline;
}

.home_navbar li {
    display: inline;
}

.home_navbar a:hover {
    color: var(--life-black);
    padding: 10px 3vw 15px;

    border-radius: 10px;
    transition: all 0.25s;
}

.home_navbar a:not(:hover) {
    transition: linear 0.25s;
}

/*.navbar clic*/


/*   -------------------   */
/*   |    HOME PAGE    |   */
/*   -------------------   */


.homelogo {
/*    position: absolute;*/
/*    display: block;*/
    object-fit: contain;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom left, var(--bubblemanblue), var(--bubblemanblue), var(--bubblemanpink), var(--bubblemanpink));
    box-shadow: 0px 0px 1000px 45vh var(--life-black);    
}

.title_text {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px var(--life-black), 0 0 15px var(--life-white), 0 0 15px #696969;

    
    font-size: 3.8vw;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*   -------------------   */
/*   |   HOME PANELS   |   */
/*   -------------------   */

.background {
    background-image: url("https://github.com/lifestuffys/lifestuffys.github.io/blob/main/images/glitch_pattern_white.png?raw=true");
    background-size: 20%;
    background-repeat: repeat;
}

.webtoon {
    padding: 0px 17.5vw 96px;  
}

.starter_blank {
    height: 90vh;
    width: 100%;
    display: flex;
    box-shadow: 0px 0px 15px 3px #212121;
}

.c {  /* combines panels */
    display: inherit;
    box-shadow: 0px 0px 15px 3px #212121;
}

body {
    margin: 0px;
}




/*   -------------------   */
/*   |     BUTTONS     |   */
/*   -------------------   */

.button {
    background-color: var(--life-white);
    border: 0.75vw solid var(--life-black);
    border-radius: 15px;
    color: var(--life-black);

    font-family: Caveat;
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    text-decoration: none;
    color: black;

    cursor: pointer;
    
    position: absolute;
    padding: 1vh 1.5vh;
}

.button span {
    cursor: pointer;
/*    display: inline-block;*/
    position: relative;
/*    transition: 0.5s;*/
}

.button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}

.button:hover span {
    padding-right: 20px;
    transition: all 0.5s;

}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:hover {
    background-color: var(--life-black);
    color: var(--life-white);
    transition: all 0.5s;
}

.button:not(:hover), .button:not(:hover) span {
    transition: all 0.5s;
}

.gallery {
    left: 47%;
    width: 40vw;
}

.meet {
    width: 45vw;
    right: 20%;
}




/*   -------------------   */
/*   |     NAV BAR     |   */
/*   -------------------   */

.navbar {    
    position: absolute;    
    background-color: var(--life-white);
    width: 100%;
    height: 100px;
    top: 0px;
    box-shadow: 0px 0px 10px 1px #000000;
    text-align: center;
/*    display: inline-block;*/

}



/*   -------------------   */
/*   |  SIDE NAV BAR   |   */
/*   -------------------   */

.menu {
/*    height: 90px;*/
    font-size: 50px;
    color: var(--life-black);
    text-decoration: none;
    padding: 10px 25px 20px;
    float: left;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    text-align: left;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #ffffff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*
@media screen and (max-height: 450px) {
    .sidenav { padding-top: 15px; }
    .sidenav a { font-size: 18px; }
}
*/



/*   -------------------   */
/*   |   NAV BAR LOGO  |   */
/*   -------------------   */

.logo {
    height: 80px;
    padding: 10px 0px 10px 110px;    
}


/*   -------------------   */
/*   |    NAV SOCIAL   |   */
/*   -------------------   */

.social {
    float: right;
    height: 50px;
    padding: 25px 5px;
}


/*   -------------------   */
/*   |     ABOUT US    |   */
/*   -------------------   */

.about_padding {
    padding: 20px 50px;
    background-color: var(--life-white);
}

.about_banner_text {
    padding-left: 10vw;
    padding-top: 2vw;
    font-size: 10vw;
    position: absolute;
    color: var(--life-white);
    text-shadow: 3px 3px 3px var(--life-black);
}

.about_bubbleman {
    width: 100vw;
    float: right;
    padding: 20px 0px 30px;


}

.polaroid {
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
/*  margin-bottom: 25px;*/
}



.profile {
    height: 250px;
    width: 250px;  
}








/*   -------------------   */
/*   |   GALLERY IMGS  |   */
/*   -------------------   */

.gallery_padding {
    padding: 0px 19vw 96px;
}

.square_img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    align-items: center;

}

.square_img:hover {
    transform: scale(0.9);
    opacity: 0.9;
    transition: all 0.2s;
}

.square_img:not(:hover) {
    transition: all 0.2s;
}


@media screen and (max-width: 850px) {
    
    .gallery_padding {
        padding: 0px 0px 96px;
    }
    
    .square_img {
    width: 32.7vw;
    height: 32.7vw;
    object-fit: cover;
    }
}



/*   -------------------   */
/*   |      BOTTOM     |   */
/*   -------------------   */


.bottom {
    padding: 50px;
    
/*    Add contact and social*/
    
}



